<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="icon" href="favicon.png" />
        <link rel="stylesheet" href="../static/airplane.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <title>Smear Airlines</title>

        <title>SmearAir</title>
    </head>
    <body>
        <div class="mycontainer">
            <div class="record">
                <div class="aisle">
                    <button class="filler">#</button>
                    <button class="filler">#</button>
                    <button onclick="changeColor('button-1')" id="button-1" value="button-1">1</button>                
                </div>
                <div class="aisle">
                    <button href="/Seat" onclick="changeColor('button-2')" id="button-2" value="button-2">2</button>
                    <button class="filler">#</button>
                    <button class="filler">#</button>
                </div>
            </div>
            <div class="record">
                <div class="aisle">
                    <button class="filler">#</button>
                    <button onclick="changeColor('button-3')" id="button-3" value="button-3">3</button>
                    <button onclick="changeColor('button-4')" id="button-4" value="button-4">4</button>
                </div>
                <div class="aisle">
                    <button onclick="changeColor('button-5')" id="button-5" value="button-5">5</button>
                    <button id="button-6" value="button-6">6</button>
                    <button class="filler">#</button>
                </div>
            </div>
            <div class="record">
                <div class="aisle">
                    <button onclick="changeColor('button-7')" id="button-7" value="button-7">7</button>
                    <button onclick="changeColor('button-8')" id="button-8" value="button-8">8</button>
                    <button onclick="changeColor('button-9')" id="button-9" value="button-9">9</button>
                </div>
                <div class="aisle">
                    <button onclick="changeColor('button-10')" id="button-10" value="button-10">10</button>
                    <button onclick="changeColor('button-11')" id="button-11" value="button-11">11</button>
                    <button onclick="changeColor('button-12')" id="button-12" value="button-12">12</button>
                </div>
            </div>
        
            <!-- Buttons 13 to 18 -->
            <div class="record">
                <div class="aisle">
                    <button onclick="changeColor('button-13')" id="button-13" value="button-13">13</button>
                    <button onclick="changeColor('button-14')" id="button-14" value="button-14">14</button>
                    <button onclick="changeColor('button-15')" id="button-15" value="button-15">15</button>
                </div>
                <div class="aisle">
                    <button onclick="changeColor('button-16')" id="button-16" value="button-16">16</button>
                    <button onclick="changeColor('button-17')" id="button-17" value="button-17">17</button>
                    <button onclick="changeColor('button-18')" id="button-18" value="button-18">18</button>
                </div>
            </div>
        
            <!-- Buttons 19 to 24 -->
            <div class="record">
                <div class="aisle">
                    <button onclick="changeColor('button-19')" id="button-19" value="button-19">19</button>
                    <button onclick="changeColor('button-20')" id="button-20" value="button-20">20</button>
                    <button onclick="changeColor('button-21')" id="button-21" value="button-21">21</button>
                </div>
                <div class="aisle">
                    <button onclick="changeColor('button-22')" id="button-22" value="button-22">22</button>
                    <button onclick="changeColor('button-23')" id="button-23" value="button-23">23</button>
                    <button onclick="changeColor('button-24')" id="button-24" value="button-24">24</button>
                </div>
            </div>
            <div class="wagwan"></div>
            <div class="record">
                <div class="aisle">
                    <button onclick="changeColor('button-25')" id="button-25" value="button-25">25</button>
                    <button onclick="changeColor('button-26')" id="button-26" value="button-26">26</button>
                    <button onclick="changeColor('button-27')" id="button-27" value="button-27">27</button>
                </div>
                <div class="aisle">
                    <button onclick="changeColor('button-28')" id="button-28" value="button-28">28</button>
                    <button onclick="changeColor('button-29')" id="button-29" value="button-29">29</button>
                    <button onclick="changeColor('button-30')" id="button-30" value="button-30">30</button>
                </div>
            </div>
        
            <!-- Buttons 31 to 36 -->
            <div class="record">
                <div class="aisle">
                    <button onclick="changeColor('button-31')" id="button-31" value="button-31">31</button>
                    <button onclick="changeColor('button-32')" id="button-32" value="button-32">32</button>
                    <button onclick="changeColor('button-33')" id="button-33" value="button-33">33</button>
                </div>
                <div class="aisle">
                    <button onclick="changeColor('button-34')" id="button-34" value="button-34">34</button>
                    <button onclick="changeColor('button-35')" id="button-35" value="button-35">35</button>
                    <button onclick="changeColor('button-36')" id="button-36" value="button-36">36</button>
                </div>
            </div>
        
            <!-- Buttons 37 to 42 -->
            <div class="record">
                <div class="aisle">
                    <button onclick="changeColor('button-37')" id="button-37" value="button-37">37</button>
                    <button onclick="changeColor('button-38')" id="button-38" value="button-38">38</button>
                    <button onclick="changeColor('button-39')" id="button-39" value="button-39">39</button>
                </div>
                <div class="aisle">
                    <button onclick="changeColor('button-40')" id="button-40" value="button-40">40</button>
                    <button onclick="changeColor('button-41')" id="button-41" value="button-41">41</button>
                    <button onclick="changeColor('button-42')" id="button-42" value="button-42">42</button>
                </div>
            </div>
        
            <!-- Buttons 43 to 48 -->
            <div class="record">
                <div class="aisle">
                    <button onclick="changeColor('button-43')" id="button-43" value="button-43">43</button>
                    <button onclick="changeColor('button-44')" id="button-44" value="button-44">44</button>
                    <button onclick="changeColor('button-45')" id="button-45" value="button-45">45</button>
                </div>
                <div class="aisle">
                    <button onclick="changeColor('button-46')" id="button-46" value="button-46">46</button>
                    <button onclick="changeColor('button-47')" id="button-47" value="button-47">47</button>
                    <button onclick="changeColor('button-48')" id="button-48" value="button-48">48</button>
                </div>
            </div>
            <div class="wagwan"></div>

           <!-- Buttons 55 to 60 -->
                <div class="record">
                    <div class="aisle">
                        <button onclick="changeColor('button-55')" id="button-55" value="button-55">55</button>
                        <button onclick="changeColor('button-56')" id="button-56" value="button-56">56</button>
                        <button onclick="changeColor('button-57')" id="button-57" value="button-57">57</button>
                    </div>
                    <div class="aisle">
                        <button onclick="changeColor('button-58')" id="button-58" value="button-58">58</button>
                        <button onclick="changeColor('button-59')" id="button-59" value="button-59">59</button>
                        <button onclick="changeColor('button-60')" id="button-60" value="button-60">60</button>
                    </div>
                </div>

                <!-- Buttons 61 to 66 -->
                <div class="record">
                    <div class="aisle">
                        <button onclick="changeColor('button-61')" id="button-61" value="button-61">61</button>
                        <button onclick="changeColor('button-62')" id="button-62" value="button-62">62</button>
                        <button onclick="changeColor('button-63')" id="button-63" value="button-63">63</button>
                    </div>
                    <div class="aisle">
                        <button onclick="changeColor('button-64')" id="button-64" value="button-64">64</button>
                        <button onclick="changeColor('button-65')" id="button-65" value="button-65">65</button>
                        <button onclick="changeColor('button-66')" id="button-66" value="button-66">66</button>
                    </div>
                </div>

                <!-- Buttons 67 to 72 -->
                <div class="record">
                    <div class="aisle">
                        <button onclick="changeColor('button-67')" id="button-67" value="button-67">67</button>
                        <button onclick="changeColor('button-68')" id="button-68" value="button-68">68</button>
                        <button onclick="changeColor('button-69')" id="button-69" value="button-69">69</button>
                    </div>
                    <div class="aisle">
                        <button onclick="changeColor('button-70')" id="button-70" value="button-70">70</button>
                        <button onclick="changeColor('button-71')" id="button-71" value="button-71">71</button>
                        <button onclick="changeColor('button-72')" id="button-72" value="button-72">72</button>
                    </div>
                </div>

                <!-- Buttons 73 to 78 -->
                <div class="record">
                    <div class="aisle">
                        <button onclick="changeColor('button-73')" id="button-73" value="button-73">73</button>
                        <button onclick="changeColor('button-74')" id="button-74" value="button-74">74</button>
                        <button onclick="changeColor('button-75')" id="button-75" value="button-75">75</button>
                    </div>
                    <div class="aisle">
                        <button onclick="changeColor('button-76')" id="button-76" value="button-76">76</button>
                        <button onclick="changeColor('button-77')" id="button-77" value="button-77">77</button>
                        <button onclick="changeColor('button-78')" id="button-78" value="button-78">78</button>
                    </div>
                </div>

                <!-- Buttons 79 to 84 -->
                <div class="record">
                    <div class="aisle">
                        <button onclick="changeColor('button-79')" id="button-79" value="button-79">79</button>
                        <button onclick="changeColor('button-80')" id="button-80" value="button-80">80</button>
                        <button onclick="changeColor('button-81')" id="button-81" value="button-81">81</button>
                    </div>
                    <div class="aisle">
                        <button onclick="changeColor('button-82')" id="button-82" value="button-82">82</button>
                        <button onclick="changeColor('button-83')" id="button-83" value="button-83">83</button>
                        <button onclick="changeColor('button-84')" id="button-84" value="button-84">84</button>
                    </div>
                </div>
            
            <div class="record">
                <button id="Close" onclick="closeWindow()" class="last">Confirm Submission</button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='airplane.js') }}" ></script>
        <script
            src="https://kit.fontawesome.com/1895f8e829.js"
            crossorigin="anonymous"></script>
    </body>
</html>
